# ignore file for dotfiles repo

# my working directories
/backup/
/BrowserHomes/
/cheri/
/Mail/
/personal/
/repos/
/scratch/
/work/

# ignored as irrelevant
/.cache/
/.cargo/
/.dfrepo/
/.ghidra/
/.gnupg/
/.lesshst
/.local/share/
/.mailcheckrc
/.password-store/
/.pki/
/.pulse-cookie
/.rustup/
/.ssh/
/.steam/
/.steampath
/.steampid
/.vim/
/.viminfo
/.vscode-oss/
/.wget-hsts
