# ignore file for dotfiles repo

# my working directories
/backup/
/BrowserHomes/
/cheri/
/personal/
/work/

# ignored as irrelevant
/.cache/
/.cargo/
/.dfrepo/
/.lesshst
/.local/share/
/.pki/
/.pulse-cookie
/.rustup/
/.steam/
/.steampath
/.steampid
/.vim/
/.viminfo
/.vscode-oss/
/.wget-hsts
