# ignore file for dotfiles repo

# my working directories
/backup/
/BrowserHomes/
/cheri/
/Mail/
/org/
/personal/
/repos/
/scratch/
/work/

# ignored as irrelevant
/.cache/
/.cargo/
/.config/Thunar/
/.config/borg/security/
/.config/cef_user_data/
/.config/dconf/
/.config/evince/
/.config/evolution/
/.config/gtk-3.0/bookmarks
/.config/htop/
/.config/libreoffice/
/.config/mimeapps.list
/.config/sqlitebrowser
/.config/systemd/user/*.target.wants/
/.config/unity3d/
/.config/xfce4/
/.dfrepo/
/.emacs.d/auto-save-list
/.emacs.d/bookmarks
/.emacs.d/elpa/
/.emacs.d/transient/
/FiraxisLive/
/.ghidra/
/.gnupg/
/.gradle/
/go/
/.ipython/
/.lesshst
/.local/share/
/.mailcheckrc
/.password-store/
/.pki/
/.pulse-cookie
/.python_history
/.rustup/
/.ssh/
/.steam/
/.steampath
/.steampid
/.vim/
/.viminfo
/.vscode-oss/
/.wget-hsts
/.xsession-errors
/.xsession-errors.old
